<!-- Team pagina opmaken -->
<!-- Ik heb nog een verzoekje aan alle full-stack groepen.
    Zouden jullie nog een menuoptie Endoor toe willen voegen met daaronder een sub-menu met voor ieder groepslid een verwijzing naar een eigen pagina,
    waarin je kort een terugblik geeft op de opleiding en jouw ervaringen ermee. Wat was leuk, wat was minder leuk, wat was moeilijk,
    wat was minder moeilijk, wat denk je te gaan doen met de kennis die je hebt opgedaan. Oftewel een terugblik op 14 weken intensief werken.
    Maak er vooral je eigen verhaal van. -->



<div class="col-xs-12 col-md-12 col-lg-6">

    <div class="info-block1" style="">

        <h1>MARK</h1>
        <p>
            <br />
            <br />
            <br />
            Voor deze opleiding heb ik de lat hoog gelegd en wilde er alles uithalen wat er in zat.
            Ik ben erg blij dat ik nu veel stricter kan programmeren en nog veel belangrijker: kan samenwerken via tools als Git of DevOps.
            Mijn dank gaat vooral uit naar Marcel, die met zijn inzet en enthousiasme ervoor heeft gezorgd dat ik C# en Visual Studio heb omarmd en mijn databases normaliseer.
            <br />
            <br />
        </p>

    </div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">

    <div class="info-block2" style="">

        <h1>RAFIQ</h1>
        <p>
            <br />
            <br />
            <br />
            Van 10 jaar niet naar school te zijn geweest naar een opleiding tot software-developer in maar liefst 14 weken tijd. 
            Het was een zeer interessante maar ook een zeer intensieve opleiding, maar we zijn er doorheen gekomen. 
            Heb ontzettend veel geleerd en wil graag de gemeente Enschede, Endoor en uiteraard de docenten heel erg bedanken voor deze ervaring. 
            Op naar een nieuwe carrière!
        </p>

    </div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">

    <div class="info-block3" style="">

        <h1>GOVERT</h1>
        <p>
            <br />
            <br />
            <br />
            Dankzij een omscholingstraject mag ik mijzelf nu full stack developer noemen.
            Al met al ben ik blij een nieuwe carrière in te gaan vol met C#, SQL en webtechnologie. Mijn dank aan de gemeente Enschede voor deze mogelijkheid is groot.
            Mijn dank gaat ook uit aan alle docenten die ondanks de moeilijke omstandigheden het lesmateriaal op excellente manier hebben weten te behandelen.
        </p>
        

    </div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">

    <div class="info-block4" style="">

        <h1>EMRE</h1>
        <p>
            <br />
            <br />
            <br />
            Endoor Software Developer training has been my first intensive online Bootcamp which gave me an opportunity to find out who I am and who I want to be.
            The most important thing, I figured out how to improve my coding and thinking skills. Especially through working on the Final Project.
            I’ve got a chance to be in a team, learn from others, learn from my mistakes while being surrounded by great mentors like Marcel Roesink.
        </p>

    </div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">

    <div class="info-block5" style="">

        <h1>WILLEM</h1>

        <p>
            Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen.
            Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw,
            toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken.
            Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronische letterzetting.
            Het is in de jaren '60 populair geworden met de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door
            desktop publishing software zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.
        </p>

    </div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">

    <div class="info-block6" style="">

        <h1>Lorem Ipsum</h1>

        <p>
            Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen.
            Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw,
            toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken.
            Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronische letterzetting.
            Het is in de jaren '60 populair geworden met de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door
            desktop publishing software zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.
        </p>

    </div>
</div>

