<!-- Infopagina opmaken -->
    <div class="background-img">

        <div class="intro-block" style="background-color: #222;">
            <h1>INFORMATIE OVER NPO RADIO 2</h1>

            <p>
                NPO Radio 2 houdt luisteraars aangesloten op de actuele popmuziek, met een nadrukkelijke focus op Nederlandse muziek, op het
                nieuws, op wat online is, op het gesprek van de dag en op wat Nederland bezighoudt. NPO Radio 2 scant 24/7 wat ertoe doet, is
                altijd alert en fungeert voor luisteraars als een radar in de maatschappij van vandaag. NPO Radio 2 is waar het gebeurt, hoort wat
                er speelt en laat je dag beginnen. De zender draait de hits van vandaag die er morgen nog steeds toe doen. En de hits van vroeger
                die luisteraars vandaag nog steeds wat doen.
            </p>

        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">

            <div class="text-block1" style="background-color: #222;">

                <h1>CONTACT</h1>
                <br>
                <p></p>
                <p>Bekijk hieronder alle contactgegevens.</p>
                <p>
                    <strong>
                        <br>
                        Tel.nr.Studio:
                    </strong>
                    0800-1122 (gratis)
                    <br>
                    <strong>
                        E-mail:
                    </strong>
                    info@radio2.nl
                    <br>
                    <strong>
                        Facebook:
                    </strong>
                </p>
                <p>
                    <a href="https://www.facebook.com/NPORadio2/" target="_blank" rel="noopener noreferrer">Facebook.com/NPORadio2</a>
                </p>
                <p>
                    <a href="https://www.facebook.com/Top2000/" target="_blank" rel="noopener noreferrer">Facebook.com/Top2000</a>
                    <br>
                    <br>
                    <strong>
                        Adres:
                    </strong>
                    <br>
                    Postbus 26444
                    <br>
                    <strong>
                        Bezoekadres:
                    </strong>
                    Bart de Graaffweg 2
                    <br>
                    <br>
                    <br>
                </p>
                <p></p>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">

            <div class="text-block2" style="background-color: #d8151b;">

                <h1>FREQUENTIES</h1>
                <br>
                <p></p>
                <p>Bekijk hieronder het complete overzicht van alle frequenties waar NPO Radio 2 op te vinden is.</p>
                <p>
                    <strong>
                        <br>
                        Friesland:
                    </strong>
                    88.0 MHz en 92.9 MHz
                    <br>
                    <strong>
                        Groningen:
                    </strong>
                    88.0 MHz
                    <br>
                    <strong>
                        Drenthe:
                    </strong>
                    88.0 MHz
                    <br>
                    <strong>
                        Overijssel:
                    </strong>
                    88.0 MHz en 104.6 MHz
                    <br>
                    <strong>
                        Gelderland:
                    </strong>
                    88.2 MHz, 92.6 MHz en 104.6 MHz
                    <br>
                    <strong>
                        Flevoland:
                    </strong>
                    88.0 MHz en 92.6 MHz
                    <br>
                    <strong>
                        Utrecht:
                    </strong>
                    92.2 MHz
                    <br>
                    <strong>
                        Noord-Holland:
                    </strong>
                    92.6 MHz en 92.9 MHz
                    <br>
                    <strong>
                        Zuid-Holland:
                    </strong>
                    92.6 MHz
                    <br>
                    <strong>
                        Zeeland:
                    </strong>
                    92.6 MHz en 97.8 MHz
                    <br>
                    <strong>
                        Noord-Brabant:
                    </strong>
                    88.2 MHz en 92.6 MHz
                    <br>
                    <strong>
                        Limburg:
                    </strong>
                    88.2 MHz, 93.4 MHz en 97.2 MHz
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
                <p></p>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">

            <div class="text-block3" style="background-color: #222;">

                <h1>VOLG NPO RADIO 2</h1>
                <br>
                <p>
                    Volg NPO Radio 2 op deze kanalen om op de hoogte te blijven van het laatste nieuws:
                    <br>
                    <br>

                    <a href="https://www.facebook.com/nporadio2?fref=ts">- Facebook</a>
                    <br>

                    <a href="https://www.twitter.com/NPORadio2">- Twitter</a>
                    <br>

                    <a href="https://www.instagram.com/NPORadio2">- Instagram</a>
                    <br>

                    <a href="https://www.youtube.com/channel/UC9QepZGl726xPNIIo_mPteA">- Youtube</a>
                    <br>

                    <a href="https://open.spotify.com/user/radio2nl">- Spotify</a>
                    <br>
                    <br>
                </p>

                <p>
                    <strong>DOWNLOAD NPO RADIO 2 APP</strong>
                    <br>
                    <br>
                    - Live luisteren/kijken naar NPO Radio 2
                </p>
                <p>
                    - Gratis berichtje sturen naar de studio
                    <br>
                    - Laatste (muziek)nieuws
                </p>
                <p>
                    - Gidsinformatie en terugluisteren
                </p>
                <p>
                    - Top 2000 bekijken
                </p>
                <br>
                <p>
                    <a href="http://itunes.apple.com/nl/app/radio-2/id356567770?mt=8" target="_blank" rel="noopener noreferrer">>> i-Phone download</a>
                </p>
                <p>
                    <a href="http://market.android.com/details?id=nl.omroep.npo.radio2" target="_blank" rel="noopener noreferrer">>> Android download</a>
                </p>
                <br>
                <br>





            </div>
        </div>

    </div>